<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>String Theory</title>
  </head>
  <body>
    <h1>Bass Guitars Show Page</h1>
    Your <%=bass.brand%> Bass Guitar with <%=bass.strings%>
    strings which is made out of <%=bass.wood%>
    wood with a <%=bass.fretboard%> fret board:
    <% if(bass.readyToBuild === true){ %>
       IS READY TO BE BUILT!
    <% } else { %>
       Cannot be built to these specs.
    <% } %>

    <br/><br/>
    <nav>
      <a href="/basses">Back to Bass Guitars Page</a>
    </nav>
    <br/>
    <nav>
      <a href="/">Return to Main Page</a>
    </nav>
    <br/>
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout"/>
    </form>

  </body>
</html>
