<meta charset="utf-8">
<title>Mongoose Store</title>
<!-- <link rel="stylesheet" href="/css/normalize.css"> -->
<!-- <link rel="stylesheet" href="/css/skeleton.css"> -->
<link rel="stylesheet" href="/css/style.css">
<!-- <link rel="icon" href="/assets/$.png"> -->
