<br/>
<nav>
  <div class="class="card" style="width: 18rem;"">
    <a href="/"><h1 id="store" class="six columns">String <img src="/img/guitarman.jpg" class="icon" alt="" width="55px" height="55px"/> Theory</h1></a>
    <span class="three columns">&nbsp;</span>
  </div>
</nav>
