<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Guitar Page</h1>
    <form action="/guitars" method="POST">
      Brand: <input type="text" name="brand" /><br/>
      Number of Strings: <input type="text" name="strings" /><br/>
      Type of Wood: <input type="text" name="wood" /><br/>
      Type of Fretboard: <input type="text" name="fretboard" /><br/>

      Ready to Build: <input type="checkbox" name="readyToBuild"/><br/>
      <input type="submit" value="Create Your Guitar" />
    </form>
  </body>
</html>
