<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>String Theory</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

    <!-- BootStrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My CSS Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
  </head>
  <body>
    <h1>New Guitar Page</h1>
    <br/>
    <div class="container">
      <form action="/guitars" method="POST">
        <h2>Brand:</h2>
        <select class="selectpicker" data-style="btn-info" name="brand">
                <optgroup label="Select Brand">
                    <option name="brand" value="Gibson">Gibson</option>
                    <option name="brand" value="Fender">Fender</option>
                    <option name="brand" value="Jackson">Jackson</option>
                    <option name="brand" value="B.C. Rich">B.C. Rich</option>
                </optgroup>
            </select>
        <br/>
        <h2>Number of Strings:</h2> <input id="stringNum" type="number" name="strings" min="6" max="12" required /><br/>
        <h2>Type of Wood:</h2>
        <select class="selectpicker" data-style="btn-info" name="wood">
                <optgroup label="Select Wood">
                    <option name="wood" value="Mahogany">Mahogany</option>
                    <option name="wood" value="Bubinga">Bubinga</option>
                    <option name="wood" value="Maple">Maple</option>
                    <option name="wood" value="Alder">Alder</option>
                </optgroup>
            </select>
        <br/>
        <h2>Type of Fretboard:</h2>
        <select class="selectpicker" data-style="btn-info" name="fretboard">
                <optgroup label="Select Fretboard">
                    <option name="fretboard" value="Ebony">Ebony</option>
                    <option name="fretboard" value="Rosewood">Rosewood</option>               <option name="fretboard" value="Finished">Finished</option>
                </optgroup>
            </select>
        <br/><br/>

        <h4>Ready to Build ?</h4> <input type="checkbox" name="readyToBuild"/><br/><br/>
        <input class="btn btn-primary btn-lg" type="submit" value="Create Your Guitar" />
      </form>
      <br/>
      <br/>
      <br/>
      <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout"/>
      </form>
  </div>
    <% include ../partials/footer.ejs %>

  </body>
</html>
