<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>String Theory</title>
  </head>
  <body>
    <h1>Guitars Show Page</h1>
    Your <%=guitar.brand%> guitar with <%=guitar.strings%>
    strings which is made out of <%=guitar.wood%>
    wood with a <%=guitar.fretboard%> fret board:
    <% if(guitar.readyToBuild === true){ %>
       IS READY TO BE BUILT!
    <% } else { %>
       Cannot be built to these specs.
    <% } %>

    <br/><br/>
    <nav>
      <a href="/guitars">Back to Guitars Page</a>
    </nav>
    <br/>
    <nav>
      <a href="/">Return to Main Page</a>
    </nav>
    <br/>
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout"/>
    </form>

  </body>
</html>
