<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>String Theory</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

    <!-- BootStrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My CSS Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
  </head>
  <body>
    <h1>Guitars Show Page</h1>
    <br/><br/>
    <div class="container">
      <div class="showOutput">
      Your <%=guitar.brand%> Guitar with <%=guitar.strings%>
      Strings <h2>.</h2> Wood Type: <%=guitar.wood%>
      <h2>.</h2> Fretboard: <%=guitar.fretboard%><h1>. . .</h1>
      <% if(guitar.readyToBuild === true){ %>
         IS READY TO BE BUILT!
      <% } else { %>
         <h4>*CANNOT* Be Built to These Specs</h4>
      <% } %>
    </div>
      <br/><br/>
      <nav>
        <center><a href="/guitars" style="color: #fdd557">Back to Guitars Page</a>
      </nav></center>
      <br/>
        <center><nav>
          <a href="/" style="color: #fdd557">Return to Main Page</a>
      </nav></center>
      <br/>
      <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Logout"/>
      </form>
  </div>

    <% include ../partials/footer.ejs %>

  </body>
</html>
