<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Guitars Show Page</h1>
    Your <%=guitar.brand%> guitar with <%=guitar.strings%>
    strings which is made out of <%=guitar.wood%>
    wood with a <%=guitar.fretboard%> fret board:
    <% if(guitar.readyToBuild === true){ %>
       IS READY TO BE BUILT!
    <% } else { %>
       Cannot be built to these specs.
    <% } %>
  </body>
</html>
