<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>String Theory</title>
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

        <!-- BootStrap CDN-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- My CSS Stylesheet -->
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
      <div class="container">
        <br/><br/>

        <div class="jumbotron hero-nature">
        <h1 class="text-uppercase">
            <% if(currentUser) { %>
                Welcome to String <img src="img/guitarman.jpg" class="icon" alt="" width="55px" height="55px"/> Theory <%=currentUser.username %>
            <% } else { %>
                Welcome to String <img src="img/guitarman.jpg" class="icon" alt="" width="55px" height="55px"/> Theory
            <% }%>
        </h1>
        <h3>Custom Build Your Guitar</h3>
        </div>
        <br/>

        <div class="mainnav">
          <% if(currentUser) { %>
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" href="/guitars">Build Your Dream Guitars</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/basses">Build Your Dream Basses</a>
                </li>

                <li class="nav-item">
                  <form class="nav-link" action="/sessions?_method=DELETE" method="POST">
                  <input  type="submit" value="Logout"/>
                  </form>
                </li>
              </ul>
          <% } %>
        </div>

          <nav>
            <div class="login">
              <ul class="nav justify-content-center">
                  <li class="nav-item">
                      <a class="nav-link" href="/sessions/new">Member Log In</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/users/new">Create Account</a>
                  </li>
                 <!-- ONCE User Logged In as a Current User: -->
                  <% if(currentUser) { %>
                    <br/>

                  <% } %>
              </ul>
            </div>
          </nav>
          <br/>

        <div class="text-center">
            <div class="guitar1pic">
              <img src="img/guitar1.png" class="img-fluid" alt="Responsive image"/>
            </div>
          <div class="bottom-right">Your Vision<br/>Your Creation<br/>Your Guitar</div>
        </div>

      </div>
    </body>
    <footer>
      Created by Amit Zaman
    </footer>
</html>
