<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>String Theory</title>
    </head>
    <body>
      <h1>
          <% if(currentUser) { %>
              Welcome to String Theory <%=currentUser.username %>
          <% } else { %>
              Welcome to String Theory!
          <% }%>
      </h1>
      <nav>
          <ul>
              <li>
                  <a href="/sessions/new">Log In</a>
              </li>
              <li>
                  <a href="/users/new">Register</a>
              </li>
              <% if(currentUser) { %>
                  <li>
                      <form action="/sessions?_method=DELETE" method="POST">
                          <input type="submit" value="Logout"/>
                      </form>
                  </li>
              <% } %>
          </ul>
      </nav>
      <% if(currentUser) { %>
          <main>
              Click Here to  <a href="/guitars">Build Your Dream Guitars</a>
              <br/><br/>
              Click Here to  <a href="/basses">Build Your Dream Basses</a>
          </main>
      <% } %>
    </body>
</html>
