<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Guitars Show Page</h1>
    Your <%=guitar.brand%> with <%=guitar.strings%>
    and made out of <%=guitar.wood%>
    with a fret board made from <%=guitar.fretboard%>.
    <% if(guitar.readyToBuild === true){ %>
      Your Guitar is Ready to Build
    <% } else { %>
      Rebuild Your Guitar
    <% } %>
  </body>
</html>
