h1 {
  color: blue;
  font-family: 'Montserrat', helvetica;
}

body {
  background: #cfffba;
}

.text-uppercase {
  text-align: center;
}

.text-center {
  position: relative;
  text-align: center;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
