<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>String Theory</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

    <!-- My CSS Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <!-- BootStrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <center><h2 style="color: #fdd557">Already a Member? Sign In!</h2></center>
      <form action="/sessions" method="POST">
        <br/>
        <input type="text" name="username" placeholder="Member Username">
        <br/><br/>
        <input type="password" name="password" placeholder="Member Password"/>
        <br/><br><br/>
        <input class="btn btn-primary" type="submit" value="Log In" />
      </form>
    </div>
    <% include ../partials/footer.ejs %>

  </body>
</html>
