<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>String Theory</title>
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">

    <!-- My CSS Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <!-- BootStrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <% include ../partials/head.ejs %>
    <% include ../partials/nav.ejs %>
  </head>
  <body>
    <h2>Create an Account to Log In on Main Page</h2>
    <form action="/users" method="POST">
      <input type="text" name="username" placeholder="username">
      <br/>
      <input type="password" name="password" />
      <br/><br/>
      <input type="submit" value="Create User" />
    </form>

    <% include ../partials/footer.ejs %>

  </body>
</html>
